@import './reset.css';
@import 'fonts';

html {
  background: url("../images/3-layers.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.page-container {
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  .pageConten-bg {
    height: 100vh;
    right: 0;
    width: 100vw;
    position: absolute;
    background: url("../images/right_bg.png") no-repeat fixed;
    background-size: 50% 130%;
    background-position: right;
    z-index: -1;
    min-width: 700px;
  }
}

@media (max-width: 1000px) {
  .page-container {
    justify-content: center;
    align-items: center;
    .logo-support {
      display: none;
    }
    & .pageConten-bg {
        height: 100vh;
        right: 0;
        width: 100vw;
        position: absolute;
        background: url("../images/right_bg.png") no-repeat fixed;
        background-size: 100% 130%;
        background-position: right;
        z-index: -1;
      }
  }
}

@media (min-width: 1900px) {
  .page-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
  }
}
