@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('./fonts/MuseoSansCyrl.otf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('./fonts/HelveticaNeueBd.ttf');
}
